[alias]
    st = status -s  # Concise status
    dt = difftool
[user]
	email = alex.gregory1@outlook.com
	name = Alex Gregory

[core]
	editor = nvim
	pager = nvim -R

[color]
	ui = true
    status = always
	pager = no

[difftool]
    prompt = true

[diff]
    tool = nvimdiff

[difftool "nvimdiff"]
    cmd = "nvim -d \"$LOCAL\" \"$REMOTE\""

[color "diff"]
	new = green normal bold

[pager]
	branch = true
    show = true
    log = true
    lo = false

