[alias]
    st = status --short  # Concise status
    dt = difftool
[user]
	email = alex.gregory1@outlook.com
	name = Alex Gregory
[core]
	editor = nvim
	pager = nvim -R
[color]
	ui = true
	pager = no  # Neovim should handle the colours
[difftool]
    prompt = yes
[diff]
    tool = nvimdiff
[difftool "nvimdiff"]
    cmd = nvim -d "$LOCAL" "$REMOTE"
